body {
	background-color: #fffaf4;	
} 
ul {
	list-style-type: none;
	line-height: 180%;
	margin: 0 0 5% 0;
	padding: 0;
}
p {
	font-size: 0.8em;
}
h1 {
	margin: 0;
	padding: 5%;
}
h2 {
	font-size: 1.2em;
}
h3 {
	font-size: 0.9em;
}
a {
	color: white;
}
img {
	max-height: 100%;
	max-width: 100%;	
}
.formWrapper {
	width: 35%;
	margin: 0 auto;
	padding-bottom: 5%;
}
.logoLogin {
	width: 60%;
	margin: 7% 0 0 3%;
}
.logoImgLogin {
	text-align: center;
}
.startMessage {
	text-align: center;
	margin-top: 5vh;
	color: #5c3927;
	line-height: 160%;
}
.form {
	margin: 0px auto;
	text-align: center;
	line-height: 250%;
	color: #5c3927;
	font-size: 1em;
	font-weight: 700;
} 
.inputField {
	width: 95%;
	border-radius: 7px;
	padding: 3%;
	font-size: 0.8em;
	box-shadow: none;
	border: 3px solid #5c3927;
}
.submitButton{
    width: 45%;
    background: #5c3927;
    height: 45px;
    border: none;
	color: white;
	font-size: 0.8em;
    border-radius: 5px;
	margin: 3% 0 10% 0;
}
.submitButton:hover {
	cursor: pointer; 
}
.header {
	display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	background-color: #fffaf4;
	padding: 2% 3% 0 3%;
	color: #5c3927;
}
.logoDiv {
	display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
	display: flex;
	flex: 0 1 auto;
	width: 40%;
}
.logo {
	flex: 0 1 auto;
	max-width: 57%;
}
.logoImg {
	padding: 5% 0 7% 4%;
}
.scoreBoard {
	flex: 0 1 auto;
	text-align: center;
	
}
.profile {
	flex: 0 1 auto;
	line-height: 130%;
	text-align: right;
}
.profileButton {
	width: 50%;
    background: #5c3927;
    height: 45px;
    border: none;
	color: white;
	font-size: 0.65em;
    border-radius: 5px;
	margin: 3% 0 1.5% 0;
}
.profileButton.close {
	width: 20%;
}

.profileButton:hover {
	cursor: pointer; 
}
.wrapper {
	display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
	display: flex;
	justify-content: space-between;
}
.main {
	display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
	display: flex;
	flex: 0 1 auto;
	background-color: #c8e8bb;
	width: 83%;
	justify-content: center;
	border-radius: 15px;
	margin: 2% 2% 2% 3%;
	box-sizing: border-box;
}
.image {
	width: 35vw;
	margin: 0 auto;
	padding: 2% 0 7% 0;
}
.image:hover {
	cursor: grab;
}

.sidebar {
	display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	background-color: #fffaf4;
	width: 17%;
	text-align: center;
	justify-content: space-between;
	border: 4px solid #ff9fd6;
	padding: 2% 0 2% 0;
	border-radius: 15px;
	box-sizing: border-box;
	margin: 2% 2% 2% 0%;
}
.item {
	flex: 0 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #5c3927;
}
.item:hover {
	cursor: pointer;
}
.sidebarImage {
	width: 40%;
	flex: 0 1 auto;
	max-width: 100px;
	margin: 0 auto;
}
.savedDogs {
    background-color: white;
	color: #5c3927;
	border: 4px solid #ff9fd6;
    border-radius: 15px;
    text-align: center;
    padding: 3%;
    min-height: 45vh;    
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.deleteButton {
	width: 50px;
    background: #ff9fd6;
    border: none;
	color: saddlebrown;
	font-size: 0.8em;
    border-radius: 5px;
	margin-left: 3%;
	padding: 4px 0 4px 0;
}
.footer {
	background-color: #5c3927;
	margin: 0;
	padding: 2% 3% 2% 3%;
	line-height: 150%;
}
.footer p {
	color: #fffaf4;
}


